* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    height: 100%;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

header {
    width: 100%;
    height: 90vh;
    min-height: 800px;
    padding: 40px 2%;
    /*max-height: 700px;*/
    background-size: cover;
    background-position: center;
    background-image: url('../images/capa.png');
    font-weight: lighter;
}

header nav {
    float: right
}

nav.mobile-menu {
    cursor: pointer;
    display: none;
    width: 32px;
    height: 32px;
    background-image: url(../images/menu.png);
    background-size: 100% 100%;
}

nav.mobile-menu:hover ul {
    opacity: 1;
}

nav.mobile-menu ul {
    opacity: 0;
    transition: 1s;
    background-color: white;
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    color: white;
    list-style-type: none;
    text-align: center;
}

nav.mobile-menu ul li {
    padding: 8px 0;
    transition: 0.4s;
    border-bottom: 1px solid black;
}

nav.mobile-menu ul li:hover {
    background-color: rgb(230, 230, 230);
}

nav.mobile-menu ul li a {
    text-decoration: none;
    color: black;
}

header .logo {
    position: relative;
    top: -10px;
    float: left;
    width: 160px;
    height: 40px;
    background-color: transparent;
    background-image: url(../images/logo-danki.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

header nav.desktop-menu ul {
    list-style-type: none;
}

header nav.desktop-menu li {
    float: left;
    padding: 0 20px;
}

header nav.desktop-menu ul a {
    text-decoration: none;
    color: white;
}

div.call-1 {
    float: right;
    margin: 140px 140px;
    max-width: 600px;

}

div.call-1 h2 {
    font-size: 40px;
    color: white;
    font-weight: lighter;
}

div.call-1 p {
    font-size: 15px;
    color: white;
    margin-top: 15px;
}

section.section1 .container {
    max-width: 1000px;
    height: calc(100% + 30px);
}

section.section1 {
    width: 100%;
    background-color: #472562;
    padding: 0 2%;
    height: 400px;
}

div.text-section1 {
    float: left;
    width: 50%;
    position: relative;
    left: 55px;
    margin-top: 60px;
    padding-left: 80px;
    color: white;

}

div.text-section1 h2 {
    font-size: 22px;
    font-weight: lighter;
}

div.text-section1 p {
    margin-top: 20px;
    font-size: 15px;
}

div.text-section1 ul {
    list-style-position: outside;
    padding-left: 15px;
    font-size: 15px;
}

div.text-section1 ul li {
    float: left;
    width: 100%;
    margin-top: 8px;
}

div.button1-text {
    background-color: #ff703d;
    width: 165px;
    height: 44px;
    font-size: 13px;
    margin-top: 30px;
    color: white;
    cursor: pointer;
    text-align: center;
    line-height: 44px;
    border-radius: 30px;

}

div.device-section1 {
    float: left;
    width: 50%;
    position: relative;
    top: -30px;
    height: 100%;
    background-image: url('../images/device.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

section.section2 {
    padding-left: 2%;
    padding-right: 2%;
    background-color: white;
    text-align: center;
}

section.section2 .container {
    max-width: 1000px;
}

section.section2 h2 {
    color: #472663;
    font-weight: lighter;
}

section.section2 p {
    margin-top: 30px;
    max-width: 900px;
    display: inline-block;
}

section.section2 img {
    position: relative;
    top: 70px;
    width: 100%;
    margin-top: 10px;
}

section.section3 {
    width: 100%;
}

div.part1 {
    color: white;
    float: left;
    width: 50%;
    padding: 140px 0 90px 0;
    background-color: #835fa7;

}

div.wraper-part1 {
    max-width: 600px;
    float: right;
    padding: 0 30px;
}

div.part1 h2 {
    font-weight: lighter;
    font-style: italic;
    font-size: 23px;
    padding: 2%;

}

div.part1 p {
    font-size: 15px;
    line-height: 35px;
    margin-top: 10px;
    padding: 2%;
}

div.part2 {
    float: left;
    width: 50%;
    padding: 140px 0 90px 0;
    background: white;

}

div.upon-author {
    float: left;
    max-width: 600px;
    padding-left: 30px;

}

div.title-author {
    float: left;
    width: 100%;
}

div.wraper-title-author {
    float: left;
}

div.title-author h2 {
    padding-right: 20px;
    color: #232323;
    font-weight: 400;
    font-size: 21px;
}

div.title-author p {
    font-size: 13px;
    color: #232323;
    font-style: italic;
    font-weight: lighter;

}

div.title-author .img-author {
    float: left;
    width: 40px;
    height: 40px;
    background-image: url(../images/actor1.png);
    background-size: 100% 100%;
    border-radius: 20px;
    background-color: gray;
}

div.text-author {
    float: left;
    width: 100%;
    margin-top: 10px;
}

div.text-author p {
    color: #232323;
    font-size: 15px;

}

div.slider-bullets {
    float: left;
    margin-top: 12px;
    padding-left: 30px;
    width: 100%;
}

div.slider-bullets span {
    width: 16px;
    height: 16px;
    float: left;
    cursor: pointer;
    border-radius: 8px;
    margin-right: 8px;
    background-color: rgb(200, 200, 200);
}

div.slider-bullets span:hover {
    background-color: black;
}

section.section4 {
    background-color: #472563;
    padding: 100px 0;
}

div.form {
    float: left;
    width: 50%;
    color: white;
    padding-left: 10px;
}

div.form h2 {
    font-size: 23px;
    font-weight: lighter;
}

div.form p {
    font-size: 15px;
    font-weight: lighter;
    max-width: 400px;
    padding-right: 10px;
}

div.form form {
    margin-top: 20px;
}

div.form form input[type=text] {
    width: 90%;
    max-width: 480px;
    margin-top: 8px;
    height: 58px;
    padding-left: 8px;
    line-height: 58px;
    border: 1px solid rgb(200, 200, 200);

}

div.form form textarea {
    width: 90%;
    margin-top: 8px;
    max-width: 480px;
    padding: 15px;
    border: 1px solid rgb(200, 200, 200);
}

div.form form input[type=submit] {
    background-color: #ff703d;
    width: 165px;
    height: 44px;
    font-size: 13px;
    margin-top: 15px;
    color: white;
    cursor: pointer;
    border: 0;
    border-radius: 30px;
}

div.map-wraper{
    float: left;
    width: 50%;
    color: white;
    padding: 0 10px;
}

div.map-wraper h2{
    font-size: 23px;
    font-weight: lighter;
}

div.map-wraper3{
    margin-top: 10px;
    width: 100%;
    max-width: 400px;
    position: relative;
}

div.map-wraper2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 100%;
}

div.map{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    border: 5px solid rgb(200, 200, 200);
}

.map-frame{
    width: 100%;
    height: 100%;
}

footer{
    padding: 40px 2%;
    background: #192123;
    color: white;
}

footer p:nth-of-type(1){
    float: left;
    font-size: 16px;
}

footer p:nth-of-type(2){
    float: right;
    font-size: 16px;
}


/*---MEDIA QUERIES---*/

@media screen and (max-width: 975px) {

    header {
        width: 100%;
        height: auto;
        min-height: 90vh;
        padding: 40px 2%;
    }

    nav.desktop-menu {
        display: none;
    }

    nav.mobile-menu {
        display: block;
    }

    div.call-1 {
        float: none;
        margin: 170px 0;
        max-width: none;
        width: 100%;
        text-align: center;
    }

    div.call-1 h2 {
        font-size: 40px;
        color: white;
        padding: 0 10px;
        font-weight: lighter;
    }

    div.call-1 p {
        font-size: 15px;
        color: white;
        margin-top: 15px;
    }

    section.section1 {
        padding: 40px 2%;
        height: auto;
        text-align: center;
    }

    div.text-section1 {
        width: 100%;
        margin-top: 0;
        float: none;
        padding-left: 0;
        position: static;
        display: inline-block;
    }

    div.button1-text {
        display: inline-block;
    }

    div.text-section1 ul {
        display: inline-block;
        margin-top: 20px;
    }

    div.text-section1 ul li {
        float: none;
        text-align: left;
    }

    div.device-section1 {
        display: none;
    }

    section.section2 {
        padding: 40px 2%;
    }

    section.section4 .container{
        text-align: center;
        
    }

    div.form{
        float: none;
        width: 100%;
    }

    div.form p{
        display: inline-block;
    }

    div.map-wraper{
        float: none;
        width: 100%;
        margin-top: 20px;
        padding: 0 4%;
    }

    div.map-wraper3{
        margin-top: 10px;
        width: 80%;
        padding-top: 80%;
        display: inline-block;
        max-width: none;
        position: relative;
    }
    
    div.map-wraper2{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: 0;
    }
}

@media screen and (max-width: 580px) {
    div.part1 {
        width: 100%;
        padding: 40px 2%;

    }

    div.part2 {
        width: 100%;
        padding: 40px 2%;
    }

    section.section2 img {
        margin: 0;
    }

    footer{
        text-align: center;
    }
    
    footer p:nth-of-type(1){
        float: none;

    }
    
    footer p:nth-of-type(2){
        float: none;
        margin-top: 8px;

    }
}